<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %><br>
<p><a href="/myaccount"><%= current_user(session).username.capitalize %>'s Dashboard</a> // <a href="/boxes">Box Catalog</a> // <a href="/products">Product Catalog</a></p>
<h2>Edit Box: <%=@box.name%></h2>

<form action="/boxes/<%=@box.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="box_name">Box Name:</label>
  <input type="text" name="box_name" value="<%=@box.name%>">
  <br></br>

  <label for="box_description">Description:</label>
  <input type="text" name="box_description" value="<%=@box.description%>">
  <br></br>

  <label for="products">Included Products:</label>
  <br><small>(uncheck to remove from the box)</small><br>
  <% Product.all.each do |product|%>
  <li>
    <input type="checkbox" name="products[]" value="<%= product.id %>"
      <%= 'checked' if @box.products.include?(product) %>><%= product.name %> // <small><%= product.category %></small></input>
    <% end %>
  </li>
  <br>
  <input type="submit" value="Update Box">
</form>

<br></br><a href="/logout">Log Out</a>

<!-- edit only a box that you've created -->
<!-- show current_user.username -->
<!-- link to dashboard -->
<!-- link to all boxes in db // Box Catalog -->
<!-- link to all products in db // Product Catalog -->
