<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %><br>

<a href="/myaccount"><%= current_user(session).username.capitalize %>'s Dashboard</a> // <a href="/boxes/<%= @box.slug %>/edit">Edit Box</a> // <a href="/products">Product Catalog</a>

<h2>Box Name: <%= @box.name %></h2>
<small>(created by: <%= @box.user.username %>)</small><br></br>
<h4>Description: <%= @box.description %></h4><br>

<p>Products Included:<br>
  <% @box.products.each do |product| %>
  <li><a href="/products/<%= product.slug %>"><%= product.name %></a>
  </li>
  <% end %>

<br>

<form action="/boxes/<%= @box.slug %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Box">
</form>
<br></br><a href="/logout">Log Out</a>


<!-- shows the details for one specific box -->
<!-- show current_user.username -->
<!-- link to dashboard -->
<!-- link to all boxes in db // Box Catalog -->
<!-- link to all products in db // Product Catalog -->
<!-- link to edit the box IF it's your product -->
