<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %><br>

<a href="/myaccount"><%= current_user(session).username.capitalize %>'s Dashboard</a> // <a href="/boxes">Box Catalog</a> // <a href="/products">Product Catalog</a>

<h2>Product Name: <%= @product.name %></h2>

Product Category: <%= @product.category %><br></br>
Main Essential Oil: <%= @product.oil %><br></br>
Benefit: <%= @product.benefit %>
<br></br><a href="/logout">Log Out</a>

<!-- shows details of one specific product -->

<!-- show current_user.username -->
<!-- link to dashboard -->
<!-- link to all boxes in db // Box Catalog -->
<!-- link to all products in db // Product Catalog -->
<!-- link to edit the product IF it's your product -->
